td span {
    color: #d03;
    padding: 5px;
}

td {
    vertical-align: top;
}

tr {
    background: #fff
}

table table tr:nth-child(odd) {
    background: #f3f4f5 !important;
}

fieldset {
    padding: 5px 10px;
}

fieldset h3 {
    margin: 5px 0;
    line-height: 100%
}

fieldset td {
    vertical-align: middle
}

.color {
    color: #f60
}

.list_tables_aside {
    background-color: #eee;
    position: fixed;
    top: 156px;
    right: 1px;
    bottom: 0;
    padding-right: 20px;
    border: 10px solid #000;
}

.list_tables_aside ul {

    bottom: 10px;
    padding-right: 40px;
    overflow: auto;
}
.list_tables_aside li {
    margin-bottom: 0;
    margin-top: 0;
}
