* {
    border: 0;
    padding: 0;
    margin: 0;
    background: 50% 50% no-repeat;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-weight: 400;
}

:focus {
    outline: 0
}

b,
b *,
strong,
strong * {
    font-weight: 700
}

ol,
ul {
    list-style: none
}

button,
input,
input:not([type]),
input[type=color],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input[type=button],
input[type=reset],
input[type=submit],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
pre,
select,
textarea {
    font: inherit
}

.codepen body {
    margin: 10px 0 0
}

.codepen body textarea {
    display: none
}

.mce-container textarea {
    display: initial !important
}

.mce-content-body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    color: #626262;
    padding: 0 10px 10px
}

.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: 200;
    line-height: 1.4em;
}

.mce-content-body h1 {
    font-size: 30px
}

.mce-content-body h2 {
    font-size: 26px
}

.mce-content-body h3 {
    font-size: 22px
}

.mce-content-body h4 {
    font-size: 18px
}

.mce-content-body h5 {
    font-size: 16px
}

.mce-content-body h6 {
    font-size: 14px
}

.mce-content-body p {
    margin: 20px 0
}

.mce-content-body ol,
.mce-content-body ul {
    margin-left: 15px;
    list-style-position: outside;
    margin-bottom: 20px
}

.mce-content-body ol li,
.mce-content-body ul li {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #626262
}

.mce-content-body ul {
    list-style-type: disc
}

.mce-content-body ol {
    list-style-type: decimal
}

.mce-content-body a[href] {
    text-decoration: underline
}

.mce-content-body table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #aaa
}

.mce-content-body table tr:nth-child(even) {
    background: #FAFAFA
}

.mce-content-body table caption,
.mce-content-body table td,
.mce-content-body table th {
    padding: 15px 7px;
    font: inherit
}

.mce-content-body table th {
    font-weight: 400;
    color: #6E6E6E;
    background-position: 100% 100%;
    background-size: 2px 10px;
    background-repeat: no-repeat
}

.mce-content-body table th:last-child {
    background: 0 0
}

/* Public Sphere Styles*/

.float_left {
    float: left;
    width: 40%;
	margin: 0 0.6rem 0.6rem 0;
}

.float_right {
    float: right;
    width: 40%;
	margin: 0 0 0.6rem 0.6rem;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 0.9em
}

figure img {
    width: 100%;
    height: auto;
}

.image_center {
    position: relative;
    clear: both;
    display: table;
    table-layout: fixed;
    border: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image_left {
    float: left;
    margin: 4px 12px 2px 0;
    width: 40%;
    display: table;
    table-layout: fixed;
}

.image_right {
    float: right;
    margin: 4px 0 2px 12px;
    width: 40%;
    display: table;
    table-layout: fixed;
}

.image_center img,
.image_left img,
.image_right img {
    width: 100%;
    height: auto;
}

.image_left object,
.image_left embed,
.image_left video,
.image_left audio,
.image_left iFrame {
    width: 100%;
    min-height: 192px;
}

.max_width {
    max-width: 32%;
}


.line {
    font-size: 1px;
    height: 1px;
    margin: 8px 0;
    border-bottom: 1px dotted #aaa;
    clear: both;
}

.bg_gray {
    background: #eee;
    padding: 5px;
    border: 1px #ddd solid;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    vertical-align: top;
    text-align: left;
    font-size: 1em;
}

table,
th,
td {
    border: none
}

tr {
    border-bottom: 1px solid #eee
}

tr:nth-child(odd) {
    background-color: #fff
}

tr:nth-child(even) {
    background-color: #f3f6f9;
}

th {
    color: #000;
    padding: 6px;
    text-align: left;
    background: #ddd;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), #ddd);
    border-right: 1px solid #fff;
}

th:last-child {
    border-right: 0;
}

td {
    vertical-align: top;
    padding: 4px 6px;
    border-right: 1px solid #fff;
    line-height: 125% !important;
}

td:last-child {
    border-right: 0;
}

td h1,
td h2,
td h3,
td h2,
td h5 {
    padding-top: 0;
    margin-top: 0;
    color: #333;
}

th a {
    color: #999
}

th a:hover {
    color: #fff
}

.poem {
	padding-left: 48px !important;
}
.poem p {
	line-height: 100%;
	padding: 0;
	margin: 0.5em 0;
}

.poem p strong {
	display: inline-block;
	padding: 0;
	width: 44px;
	margin-left: -48px;
}

.no_style tr {
	background: transparent !important;
	border: 0 !important;
}
.clear {
	clear: both;
}
