/*
    Lines: Linear Gradient vertical and horizontal
*/
.lg-linear-C2-S1-P1-1 {
    background-image: linear-gradient(to right, var(--tint-0) 0%, var(--tint-50) 100%);
}

.lg-linear-C2-S1-P1-2 {
    background-image: linear-gradient(to left, var(--tint-0) 0%, var(--tint-50) 100%);
}

.lg-linear-C2-S1-P1-3 {
    background-image: linear-gradient(to bottom, var(--tint-0) 0%, var(--tint-50) 100%);
}

.lg-linear-C2-S1-P1-4 {
    background-image: linear-gradient(to top, var(--tint-0) 0%, var(--tint-50) 100%);
}

.lg-linear-C2-S1-P1-5 {
    background-image: linear-gradient(45deg, var(--tint-0) 0%, var(--tint-50) 100%);
}

.lg-linear-C2-S1-P1-6 {
    background-image: linear-gradient(315deg, var(--tint-0) 0%, var(--tint-50) 100%);
}

.lg-linear-C2-S1-P1-7 {
    background-image: linear-gradient(135deg, var(--tint-0) 0%, var(--tint-50) 100%);
}

.lg-linear-C2-S1-P1-8 {
    background-image: linear-gradient(225deg, var(--tint-0) 0%, var(--tint-50) 100%);
}

/*
    Lines: Linear Gradient vertical and horizontal
*/
.lg-linear-C2-S2-P2-1 {
    background-image: linear-gradient(to right, var(--tint-50) 0%, var(--tint-05) 66%),
    linear-gradient(to left, var(--tint-50) 0%, var(--tint-05) 66%);
}

.lg-linear-C2-S2-P2-2 {
    background-image: linear-gradient(to bottom, var(--tint-50) 0%, var(--tint-05) 66%),
    linear-gradient(to top, var(--tint-50) 0%, var(--tint-05) 66%);
}


.lg-linear-C2-S2-P2-3 {
    background-image: linear-gradient(45deg, var(--tint-50) 0%, var(--tint-05) 66%),
    linear-gradient(225deg, var(--tint-50) 0%, var(--tint-05) 66%);
}

.lg-linear-C2-S2-P2-4 {
    background-image: linear-gradient(315deg, var(--tint-50) 0%, var(--tint-05) 66%),
    linear-gradient(135deg, var(--tint-50) 0%, var(--tint-05) 66%);
}


.lg-linear-C2-S2-P2-5 {
    background-image: linear-gradient(to top, var(--tint-50) 0%, var(--tint-05) 100%),
    linear-gradient(to left, var(--tint-50) 0%, var(--tint-05) 66%);
}

.lg-linear-C2-S2-P2-6 {
    background-image: linear-gradient(to top, var(--tint-50) 0%, var(--tint-05) 100%),
    linear-gradient(to right, var(--tint-50) 0%, var(--tint-05) 66%);
}

.lg-linear-C2-S2-P2- {
    background-image: linear-gradient(to bottom, var(--tint-50) 0%, var(--tint-05) 100%),
    linear-gradient(to left, var(--tint-50) 0%, var(--tint-05) 66%);
}

.lg-linear-C2-S2-P2-8 {
    background-image: linear-gradient(to bottom, var(--tint-50) 0%, var(--tint-05) 100%),
    linear-gradient(to right, var(--tint-50) 0%, var(--tint-05) 66%);
}


/*
    Lines: Repeating Linear Gradient Stops 2
*/
.rlg-linear-C2-S2X2-P1-to-left-Cross {
    background-image: repeating-linear-gradient(to left, var(--tint-30) 0% 50%, var(--tint-0) 50% 100%), repeating-linear-gradient(to top, var(--tint-30) 0% 50%, var(--tint-0) 50% 100%);
}

.rlg-linear-C2-S2X2-P1-to-right-Cross {
    background-image: repeating-linear-gradient(to right, var(--tint-30) 0% 50%, var(--tint-0) 50% 100%), repeating-linear-gradient(to bottom, var(--tint-30) 0% 50%, var(--tint-0) 50% 100%);
}

.rlg-linear-C2-S2X2-P1-to-bottom-left-Cross {
    background-image: repeating-linear-gradient(to bottom left, var(--tint-30) 0% 50%, var(--tint-0) 50% 100%), repeating-linear-gradient(to top left, var(--tint-30) 0% 50%, var(--tint-0) 50% 100%);
}

.rlg-linear-C2-S2X2-P1-to-bottom-right-Cross {
    background-image: repeating-linear-gradient(to bottom right, var(--tint-30) 0% 50%, var(--tint-0) 50% 100%), repeating-linear-gradient(to top right, var(--tint-30) 0% 50%, var(--tint-0) 50% 100%);
}

.rlg-linear-C2-S2X2-P1-to-left-Cross-Gradient {
    background-image: repeating-linear-gradient(to left, var(--tint-30) 0%, var(--tint-0) 50%), repeating-linear-gradient(to top, var(--tint-30) 0%, var(--tint-0) 50%);
}

.rlg-linear-C2-S2X2-P1-to-right-Cross-Gradient {
    background-image: repeating-linear-gradient(to right, var(--tint-30) 0%, var(--tint-0) 50%), repeating-linear-gradient(to bottom, var(--tint-30) 0%, var(--tint-0) 50%);
}

.rlg-linear-C2-S2X2-P1-to-bottom-left-Cross-Gradient {
    background-image: repeating-linear-gradient(to bottom left, var(--tint-30) 0%, var(--tint-0) 50%), repeating-linear-gradient(to top left, var(--tint-30) 0%, var(--tint-0) 50%);
}

.rlg-linear-C2-S2X2-P1-to-bottom-right-Cross-Gradient {
    background-image: repeating-linear-gradient(to bottom right, var(--tint-30) 0%, var(--tint-0) 50%), repeating-linear-gradient(to top right, var(--tint-30) 0%, var(--tint-0) 50%);
}


/*
    Lines: Repeating Linear Gradient Stops 5
*/

.rlg-linear-C2-S5-P1-1 {
    background-image: repeating-linear-gradient(to left, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%);
}

.rlg-linear-C2-S5-P1-2 {
    background-image: repeating-linear-gradient(to bottom, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%);
}

.rlg-linear-C2-S5-P1-3 {
    background-image: repeating-linear-gradient(225deg, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%);
}

.rlg-linear-C2-S5-P1-4 {
    background-image: repeating-linear-gradient(135deg, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%);
}

.rlg-linear-C2-S5-P2-1 {
    background-image:
        repeating-linear-gradient(to right, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%),
        repeating-linear-gradient(to bottom, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%);
}

.rlg-linear-C2-S5-P2-2 {
    background-image:
        repeating-linear-gradient(225deg, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%),
        repeating-linear-gradient(135deg, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%);
}

.rlg-linear-C2-S5-P3-1 {
    background-image:
        repeating-linear-gradient(to right, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%),
        repeating-linear-gradient(to bottom, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%),
        radial-gradient(ellipse at 50% 50%, var(--tint-0) 0%, var(--tint-50) 100%);
}

.rlg-linear-C2-S5-P3-2 {
    background-image:
        repeating-linear-gradient(225deg, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%),
        repeating-linear-gradient(135deg, var(--tint-0) 0% 20%, var(--tint-20) 20% 40%),
        radial-gradient(ellipse at 50% 50%, var(--tint-0) 0%, var(--tint-50) 100%);
}
