/*
	=====================================================
	Image Cycler for advertises 
	=====================================================
*/

/* 
	jQuery uses the Height/Width Ratio of first image 
		to define the height of the cycler - as padding-top
*/
.sx_cycler_ads {
    position: relative;
    z-index: 0;
    margin: 3rem 0 6rem 0;
    padding: 0;
}

.sx_cycler_ads figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sx_cycler_ads img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.sx_cycler_ads ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0.4;
    z-index: 10;
    background: #fff;
    cursor: pointer;
    list-style: none;
    padding: 0.5rem 0 0 0;
    margin: 0;
    line-height: 120%;
}

.sx_cycler_ads:hover ul {
    opacity: 1;
}

.sx_cycler_ads li {
    margin: 0;
    padding: 0;
}

.sx_cycler_ads li:first-child {
    padding-right: 0.25em;
}

.sx_cycler_ads li:last-child {
    padding-left: 0.25em;
}

.sx_cycler_ads .description {
    text-align: center;
    flex: 2;
}

.sx_cycler_ads .description h4 {
    font-size: 0.9rem;
    padding: 0;
    margin: 0 -4px;
    ;
}

.sx_cycler_ads .description p {
    font-size: 0.8rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.sx_cycler_ads [class*='nav-'] {
    font-size: 1.5em;
    font-weight: 900;
}

.sx_cycler_ads .nav-prev:after {
    content: "\276E";
}

.sx_cycler_ads .nav-next:after {
    content: "\276F";
}