/**
    multi-columns table for desktops
*/
.csv_table_container {
    position: relative;
    margin: 1rem 0;
    width: 95%;
}

.csv_table_search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
    margin: 0;
    border-bottom: 1px solid #bbb;
}

.csv_data_table_container {
    max-height: 70vh;
    width: 100%;
    overflow-y: auto;
    position: relative;
    border-bottom: 2px solid #aaa;
}

.csv_data_table {
    border-collapse: collapse;
    width: 100%;
}

.csv_data_table th,
.csv_data_table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    font-size: 0.8rem;
}

.csv_data_table th {
    position: sticky;
    top: 0;
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
}

.csv_data_table thead th.active {
    color: yellow;
}

/**
    2 columns table for mobiles
*/
.csv_data_table tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #fff !important;
}
.csv_data_table tr.even {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

/**
    pagination
*/

.csv_pagination_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 0.75rem 0 1rem 0;
}

.csv_pagination {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 560px;
    padding: 0;
    margin: 0;
}

.csv_pagination li {
    padding: 0 4px;
    margin: 0;
    width: 28px;
    cursor: pointer;
    border: 0;
    font-size: 0.75rem;
    text-align: right;
    line-height: 140%;
}

.csv_pagination li.active {
    font-weight: bold;
    background-color: #eee;
    color: brown;
}

fieldset select {margin-top: 4px;}
