.form_grid fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 0.5em;
    align-items: center;
}

.form_grid fieldset label {
    text-align: right;
}

fieldset label {
    font-weight: normal;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}
fieldset.container div {
    text-align: right ;
}
fieldset.container input[type='checkbox'] {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-bottom;
}
section.container div {
    flex: 1;
    padding: 0 2rem;
}

.flex_auto {
    flex: auto;
    margin: 2px;
    padding: 0 5px;
    background: #eee;
    border: 1px solid #ddd
}
.background_green {background-color: #cfe;}
.background_red {background-color: #fec;}
