* {
	box-sizing: border-box;
}

html,
body {
	font-family: Segoe, Tahoma, arial, Geneva, sans-serif;
	font-size: 16px;
	line-height: 125%;
	color: #333;
	padding: 0;
	margin: 0 0 4rem 0;
}

.ps_flex_header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: #dddddd;
    border: 1px solid #cccccc;
    margin-bottom: 0.2rem;
    padding: 0 1rem;
}


.color_form {
    padding: 0.5rem;
}

.color_form label {
    white-space: nowrap;
}

.color_form input[type='text'] {
    height: 32px;
    width: 4.6rem;
    font-size: 1rem;
}
.color_form input[type='color'] {
    height: 32px;
    width: 3rem;
    font-size: 1rem;
    vertical-align: middle;
}

.color_form input[type='number'] {
    height: 32px;
    width: 3.4rem;
    font-size: 1rem;
}

.color_form input[type='button'] {
    height: 32px;
    cursor: pointer;
    font-size: 1rem;
}

.page {
     margin: 0 0.5rem;
}

.sub_header {
    margin-bottom: 1.5rem;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
}

.ps_links {
    text-align: right;
}



.ps_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
    margin: 0 0 0.2rem 0;
}

.ps_container {
    margin: 0 0 3rem 0;
}



h4 {
    margin: 0;
    padding: 0.5rem 0 0 0;
    font-size: 1rem;
}
h4 span {
    display: inline-block;
    font-weight: normal;
    font-size: 0.9rem;
    padding-right: 5px ;
}

.ps_flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.ps_flex_between {
    justify-content: space-between;
}

.ps_gap {
    gap: 1rem;
    align-items: flex-start;
}

.ps_gap input {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align:middle;
}

.ps_flex_row h4 {
    width: 100px;
}

ps_flex_column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.ps_flex_column div {
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;
}

.ps_flex_column div span {
    width: 100px;
    height: 40px;
}

.ps_flex_column div:nth-child(even) span {
    height: auto;
    padding: 1px 0;
}


textarea {
    width: 380px;
    height: 96%;
    overflow: auto;
    padding: 10px;
}

code {
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 0 5px;
}
.padding {padding: 0.5rem}

.text {
    white-space: wrap;
    padding: 2px 0 0 10px;
}



