        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            margin: 0 0 340px 0;
            padding: 0.5rem;
        }


        h3 {
            line-height: 150%;
            margin-top: 2rem;
            font-size: 1.4rem;
        }

        h4 {
            line-height: 100%;
            font-size: 1.1rem;
            margin: 0.75rem 0 0 0;
            padding: 0;
        }

        p {
            line-height: 140%;
        }

        p.bg {
            background-color: #eee;
            padding: 1rem;
            margin-bottom: 1rem;
            ;
        }


        li {
            line-height: 140%;
        }

        section {
            border-bottom: 10px solid #ddd;
            margin: 1rem 0;
        }

        pre {
            margin: 0;
        }

        input[type="checkbox"] {
            transform: scale(2.5);
            vertical-align: text-bottom;
            margin-left: 0.75rem
        }

        code {
            padding: 0 6px;
            border: 1px solid #ddd;
            background: #eee;
            font-weight: normal;
        }

        code.clickable {
            cursor: pointer;
            font-weight: bold;
            color: brown;
        }


        #nav {
            background-color: #eee;
            border: 1px solid #ddd;
            padding: 5px;
        }

        .header {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            gap: 1rem;
            min-height: 50vh;
        }

        .header>div {
            width: 33%;
            flex: 1 1 50%;
        }
        #about_usage {
            display:none;
            position: absolute;
            left: 0;
            top:0;
            width: 50%;
            height: 75vh;
            background-color: #eee;
            border: 5px solid #ddd;
            padding: 1rem;
            overflow-x: hidden;
            overflow-y: auto;
            z-index:10;
        }

        .small {
            font-size: 0.75rem;
        }

        .flex_row {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem
        }


        .flex_row_stretch {
            align-items: stretch;
        }

        .flex_row_start {
            justify-content: flex-start;
            gap: 0.75rem;
        }

        .flex_column {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: stretch;
        }

        textarea {
            width: 100%;
            height: 100%;
            padding: 0.5rem;
            font-size: 1rem;
        }

        content {
            display: grid;
            grid-template-columns: repeat(9, minmax(160px, 1fr));
            margin: 1rem 0 2rem 0;
        }

        .new_grid {
            grid-template-columns: repeat(3, minmax(32%, 1fr));
            gap: 2rem;
        }

        .new_grid_vertical {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 5rem;
            padding: 0 6rem;
        }
