/*
	===============================================
	App Surveys
	===============================================
*/

.vote_wrapper {
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 0.2em 1em;
    margin-bottom: 4px;
    text-align: left;
    border-radius: 5px;
}

.vote_wrapper td {
    vertical-align: bottom;
    text-align: center;
}

.vote_wrapper tr:last-child td {
    vertical-align: top;
}

/*	===============================================
	App Conferences
	===============================================
*/

/*
	cards with conference sessions
*/
.conference_wrapper .flex_between {
    padding: 1rem 0.5rem;
    margin: 0;
    border-radius: 6px;
    align-items: stretch;
    gap: 0.75rem;
}

.conference_wrapper .flex_item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
    flex: 1 100%;
    border-radius: 0.25rem;
    opacity: 0.86;
    cursor: grab;
    background: #ffff;
    border: 1px solid #cccccc;
}

.conference_wrapper .flex_item:hover {
    opacity: 1 !important;
    background: #f6f6f6;
    border: 1px solid #eeeeee;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.conference_wrapper .flex_item div {
    text-align: left;
}

@media only screen and (max-width:767px) {
    .conference_wrapper .flex_item {
        flex: 1 46%;
    }
}

@media only screen and (min-width:768px) {
    .conference_wrapper .flex_item {
        flex: 1 30%;
    }
}

@media only screen and (min-width: 1600px) {
    .conference_wrapper .flex_item {
        flex: 1 21%;
    }

}

/*
	The Navigation Title for the conference program
*/

.conference_program h5 {
    padding: 0;
    margin: 0 0 0.25rem 0.25rem;
}

.conference_program .program_dates span {
    display: inline-block;
    padding: 6px 12px;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--split-2);
    border: 2px solid var(--split-2);
    border-radius: 6px 0 0 6px;
}

.conference_program .program_dates span:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.9);
    background-color: var(--basic-color);
    border: 2px solid transparent;
    border-radius: 0 6px 6px 0;
}

/*
	Restaurang menu (dinner, lunch, drinks)
*/
.menu_wrapper h3 {
    text-align: center;
}

.menu_wrapper td:last-child {
    text-align: right;
}

.menu_wrapper td h3,
.menu_wrapper td h4 {
    padding-top: 0;
    margin-top: 0;
}

.menu_wrapper tr {
    background-color: transparent !important;
    border-bottom: 1px solid var(--grey-tint-60);
}

/*
	Restaurang Reservations
*/
.reservations th {
    font-weight: normal !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    white-space: nowrap;
}

.reservations td {
    position: relative;
}

.reservations td div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 0 0 3px;
    font-size: 0.9rem;
    background-color: #eee;
    z-index: 1000;
    border: 1px solid #999;
    overflow: hidden;
}

.reservations td div button {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    padding: 0 8px;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 5px;
}

.dipslay_none {
    display: none;
}

.reservations tr td:nth-child(4n + 2) {
    border-right: 1px solid #999;
}

.reservations tr td:last-child {
    border-right: 1px solid #ddd;
}

.toggle_up,
.toggle_down {
    display: inline-block;
    cursor: pointer;
}

.toggle_up::before {
    content: "\25B4";
    font-size: 1.8rem;
    vertical-align: middle;
}

.toggle_down::before {
    content: "\25BE";
    font-size: 1.8rem;
    vertical-align: middle;
}

.toggle_up:hover,
.toggle_down:hover {
    color: #000;
}

.modal_reservations {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
    display: none;
}

.modal_content {
    position: relative;
    width: 620px;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
    border: 2px solid var(--grey);
    border-radius: 7px;

}

.film_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #dddddd;
}

.film_list>figure,
.film_list>figure img {
    width: 100%;
    height: auto;
}

.film_list>div {
    padding: 0 0.5rem;
}

@media (min-width: 768px) {
    .film_list>figure {
        width: 34%;
    }

    .film_list>div {
        width: 62%;
    }
}



/*
	======================
    Modal window
	======================
*/
.sx_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2% 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9000;
    display: none;
}



.sx_modal_content {
    position: relative;
    width: auto;
    margin: 0;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 10px;
}

.sx_modal_content h2 {
    padding: 0;
    margin: 0;
}

@media (min-width:640px) {
    .sx_modal_content {
        width: 620px;
        margin: auto;
        padding: 1.5rem;
    }
}

@media (min-width:1200px) {
    .sx_modal_content {
        padding: 2rem;
    }
}

/* Added and removed by jQuery
    Modifies .sx_modal_content
*/
.sx_modal_content_wide {
    width: 100%;
    max-width: 1280px;
}

.close {
    color: var(--grey-tint-60);
    text-align: right;
    font-size: 36px;
    padding: 0 5px 5px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000000;
    text-decoration: none;
}

.sx_modal_map {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9000;
    display: none;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.close_map {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 20%;
    right: 20%;
    color: var(--grey-tint-60);
    font-size: 0.8rem;
    padding: 5px;
    z-index: 9200;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.close_map span {
    text-align: right;
    font-size: 46px;
    font-weight: bold;
    cursor: pointer;
}

.close_map:hover {
    color: #dddddd;
}

#js_ModalMapContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/**
    Digital Periegesis
    Pausanias Books
*/

.sx_load_hidden_ajax {
    display: none;
}

.sx_modal_ajax_content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}

.sx_modal_ajax_content p {
    flex: 1;
}

.sx_modal_ajax_content pl,
pl a {
    position: relative;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 768px) {
    .sx_modal_ajax_content {
        gap: 1rem;
    }
}


.sx_modal_ajax_content prn,
prn a {
    position: relative;
    color: brown;
    cursor: pointer;
    text-decoration: none;
}


/*
    2 alternativs for transforming of CSV to Table
*/

/* First alternative: the entire table is visible */

.csv_table {
    margin-bottom: 2rem;
    max-width: 100%;
}

.csv_table th {
    font-size: 0.8rem;
    cursor: pointer;
    vertical-align: bottom;
    line-height: 120%;
    font-weight: normal;
    text-transform: capitalize;
}

.csv_table th.active {
    color: yellow;
}

.csv_table td {
    font-size: 0.8rem;
    word-wrap: break-word;
    overflow: hidden;
    hyphens: auto;
}

.csv_data_table a,
.csv_table td a {
    word-wrap: break-word;
    overflow: hidden;
    hyphens: auto;
    color: brown;
    text-decoration: none;
}

.csv_data_table map,
.csv_table td map {
    color: brown;
    text-decoration: none;
    cursor: pointer;
}

.csv_table td ol,
.csv_table td ul {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.csv_table td ol li:first-of-type,
.csv_table td ul li:first-of-type {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.csv_data_table td ol,
.csv_data_table td ul {
    padding: 0;
    margin: 0 0 0 28px;
}

.csv_data_table td ol li,
.csv_data_table td ul li {
    padding-left: 0.3rem;
}

.csv_data_table td ol.grid_list,
.csv_data_table td ul.grid_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 0 0.25rem;
}


/* Second alternative: table viewed by pagination and scrolling */

.csv_tableFixed {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.csv_table_container {
    position: relative;
}

.csv_table_search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #bbb;
}

.csv_table_search .flex_end {
    gap: 0;
}

.csv_table_search a {
    display: inline-block;
    font-size: 2rem;
    margin: 0.2rem 0 0 0;
}

@media (max-width: 1024px) {
    .csv_table_title {
        display: none
    }

    .csv_table_search input[type=text] {
        width: 8rem;

    }

}


.csv_data_table_container {
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
    border-bottom: 2px solid #aaa;
}

.csv_data_table {
    border-collapse: collapse;
    width: 100%;
}

.csv_data_table th,
.csv_data_table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    font-size: 0.8rem;
}

.csv_data_table th {
    position: sticky;
    top: 0;
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
}

.csv_data_table thead th.active {
    color: yellow;
}

/**
    2 columns table for mobiles
*/
.csv_data_table tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #fff !important;
}

.csv_data_table tr.even {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}


.csv_pagination_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 0.75rem 0 1rem 0;
}

.csv_export {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.csv_export>div {
    background-color: var(--grey-tint-100);
    padding: 0.75rem;
    border: var(--grey-tint-70);
    border-radius: 4px;
}


.csv_pagination {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 560px;
    padding: 0;
    margin: 0;
}

.csv_pagination li {
    padding: 0 4px;
    margin: 0;
    width: 28px;
    cursor: pointer;
    border: 0;
    font-size: 0.75rem;
    text-align: right;
    line-height: 140%;
}

.csv_pagination li.active {
    font-weight: bold;
    background-color: #eee;
    color: brown;
}

.csv_table_help {
    display: none;
    position: absolute;
    left: 0;
    top: 4.8rem;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 1rem 20%;
    font-size: 0.9rem;
    z-index: 10;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 0 0 9px 9px;
}

/*
    Add to .csv_table_container to transform it to fixed widescreen
*/
.csv_table_fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 1000;
    background-color: #fff;
}

.csv_table_fixed .csv_data_table_container {
    max-height: 80vh;
}


/*
    To open iFrames to full screen modal window
*/
.iframe_modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9990;
}

.iframe_modal-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
}

.iframe_close-button {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 2.4rem;
    height: 2.4rem;
    padding-top: 0.33rem;
    cursor: pointer;
    background-color: #ffffffdd;
    border-radius: 50%;
    color: #89a;
    text-align: center;
    vertical-align: middle;
}

.iframe_close-button:hover {
    color: #346;
}

.iframe_modal-content iframe {
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.iframe_modal-content .loading_message {
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 1;
}

/*	 
	jQuery popups
*/
#modal_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

#modal_dialog {
    position: fixed;
    left: 25%;
    right: 25%;
    top: 25%;
    z-index: 3000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 25px;
    text-align: center;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}