html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Arial, sans-serif;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0.5rem 0;
}

input,
button {
    display: inline-block;
    max-width: 120px;
    font-size: 0.8rem;
    padding: 6px 4px;
    margin: 0;
}

button {
    cursor: pointer;
}

select {
    max-width: 136px;
    font-size: 0.8rem;
    padding: 6px 4px;
    margin: 0;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    accent-color: #d3d7b2;
}

.svg_wrapper {
    border: 1px solid #ffffff33;
    background-color: #b6bc7f;
    background-image: linear-gradient(rgba(225, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 4px;
    padding: 0.2rem 0.4rem 0 0.4rem;
    margin: 0;
    cursor: pointer;
    line-height: 1;
}

.svg_wrapper:hover {
    border: 1px solid #ffffff44;
    background-color: #d8e4cc;
}

.svg_wrapper svg {
    display: inline-block;
    fill: #003d7a;
    width: 1.4rem;
    height: 1.4rem;
    stroke-width: 0;
}

.home_links {
    position: fixed;
    left: 8px;
    top: 42px;
    color: #ffffffcc;
}

@media (min-width: 768px) {
    .home_links {
        top: 6px;
    }
}

.home_links a {
    color: #ffffffcc;
    text-decoration: none;
}

.home_links a:hover {
    color: #ffffff;
}

.home_links img {
    height: 32px;
    width: auto;
}


#map {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;

}

.map_header_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #003d7a;
    background-image: linear-gradient(rgba(225, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    color: #ffffffcc;
    padding: 4px 1%;
    gap: 0.25rem 0.5rem;
    z-index: 999;
}

.flex_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0 0.25rem;
    margin-right: 0.25rem;
}

.flex_selects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
    font-size: 1rem;
}

.flex_checkboxes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
    flex-basis: 100%;
    font-size: 0.8rem;
}

.flex_checkboxes>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem 0;
    margin: 0;
    font-size: 0.7rem;
    line-height: 0.5;
}

.flex_checkboxes>div>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.4rem;
}

.flex_checkboxes button {
    border: 1px solid #ffffff33;
    background-color: #b6bc7f;
    background-image: linear-gradient(rgba(225, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 2px;
    padding: 0.1rem 0.5rem;
    margin: 0;
    cursor: pointer;
    line-height: 1;
    color: #003d7a;
}

/*
    To hide/show search inputs in mobile
    by toggling its absolute position using #searchInputsToggle
*/
#searchInputs {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.1rem 0;
    font-size: 1rem;
}


@media (min-width: 768px) {

    .map_header_wrapper {
        padding: 4px 4%;
    }

    .flex_checkboxes {
        flex: 0 0 auto;
        font-size: 1rem;
    }

    #searchInputs {
        display: flex !important;
        flex-wrap: nowrap;
        gap: 0;
    }

    #searchInputsToggle {
        display: none;
    }
}

/* Local file upload is disabled in mobiles*/
#fileSystemButton {
    display: none;
}

@media (min-width: 920px) {

    #fileSystemButton {
        display: block;
    }
}

.flex_NoGap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
}

/*
    Dowonload popup
*/
#PanelInformation,
#PanelTools,
#PanelDownloads {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 0;
    overflow: visible;
    padding: 0;
    background-color: transparent;
}

.panel_hidden {
    margin: 0 auto;
    padding: 1rem;
    background-color: #fffffff6;
    border: 1px solid #00000033;
    width: 100%;
    max-width: 924px;
    max-height: 0;
    line-height: 1.75;
    opacity: 0;
    transition: all 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
    z-index: -1;
    text-align: center;
}

.panel_hidden div {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}


.visible {
    max-height: 85vh;
    opacity: 1;
    overflow: auto;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 6px 6px;
}

.panel_hidden button {
    display: block;
    margin: 1rem 1rem 1rem auto;
}

.info_text .svg_wrapper {
    display: inline-block;
    margin: 0;
}

.info_text svg {
    height: 1rem;
    width: 1rem;
}

code {
    border: 1px solid #66666666;
    background-color: #b6bc7f;
    background-image: linear-gradient(rgba(225, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 100%);
    color: #000;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
}

.img_small {
    display: block;
}

.img_big {
    display: none;
}

@media (min-width: 1480px) {
    .img_small {
        display: none;
    }

    .img_big {
        display: block;
    }

}

.info_legend {
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 1.4;
}

.layer_legends {
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 1.4;
    max-height: 200px;
    overflow-y: auto;
}

.legend_button {
    border: 1px solid #8b9433;
    background-color: #b6bc7f;
    background-image: linear-gradient(rgba(225, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    line-height: 1;
    padding: 0.1rem 0.4rem;
    margin: 0 0.1rem 0 0;
    vertical-align: middle;
    border-radius: 4px;
    color: #000000cc;
}

.legend_button:hover {
    background-color: #d3d7b2;
}

/* Toggle SVG files */
#sx_screen_to_right,
#sx_sreen_to_botton {
    display: none;
}

pre {
    background-color: #eeeeee;
    border: ipx solid #dddddd;
    padding: 0 0.2rem;
}

.leaflet-control-attribution [class*="flag"] {
    display: none !important;
}

#ToggleFilterElements {
    display: none;
}

.flex_filters {
    display: none;
    width: 100%;
    justify-content: center;
    gap: 0;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .flex_filters {
        gap: 0;
    }

    .flex_filters select {
        max-width: 7rem;
        font-size: 0.75rem;
    }
}

#bookFilterContainer,
#typeFilterContainer,
#regionFilterContainer {
    display: none;
}


/*
	======================
    Modal window
	======================
*/
#js_Load_Hidden_HTML {
    display: none;
}

#js_Modal_Window {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2% 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: all 0.3s ease-out;
    display: none;
}

#js_Modal_Content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 10px;
}

#js_Modal_Content h3 {
    padding: 0;
    margin: 0;
}

#js_Modal_Close {
    color: var(--grey-tint-60);
    text-align: right;
    font-size: 36px;
    padding: 0 5px 5px;
    font-weight: bold;
    cursor: pointer;
}

#js_Modal_Close:hover {
    color: #000000;
    text-decoration: none;
}

.modal_click {
    color: brown;
    cursor: pointer;
}

/*
    Navigation between sections and the section content
*/
.section_nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.section_html_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    font-size: 0.9rem;
}

.section_html_content p {
    flex: 0 1 50%;
}

#SectionDefaultFont {
    font-size: 1.1rem;
    line-height: 1.5;
}

#SectionPolytonicFont {
    font-family: Tinos, 'Segoe UI', Geneva, sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;
}

@media (min-width: 768px) {

    .section_html_content {
        flex-direction: row;
        gap: 2rem;
        font-size: 1rem;
    }

    #SectionPolytonicFont {
    font-size: 1.2rem;
    line-height: 1.4;
    }
}

.place-link {
    color: blue;
}

.place-link:hover {
    color: brown;
}

pl,
pl a {
    color: blue;
    cursor: pointer;
}

prn,
prn a {
    color: brown;
    cursor: pointer;
}